/** These are your app's global styles */

html,
body {
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  margin: 20px;
  font-size: 20px;
  color: #6c7a89;
}

td {
  padding: 20px;
}

thead {
  font-weight: bold;
  color: white;
  border: none;
  text-transform: uppercase;
}

thead td {
  background-color: #03c9a9 !important;
  position: relative;
}

tbody td {
  border-left: 1px solid #6c7a89;
  border-bottom: 1px solid #6c7a89;
}

tbody td:last-child {
  border-right: 1px solid #6c7a89;
}

tr:last-child td {
  border: none;
}
tbody tr:last-child td:last-child {
  border: 1px solid #6c7a89;
  border-top: none;
  font-weight: bold;
}

h1 {
  text-transform: uppercase;
}

h2 {
  font-size: 20px;
  margin-bottom: 0px;
}

p {
  margin-top: 0px;
  line-height: 35px;
  font-style: italic;
}

img {
  margin-left: -170px;
  margin-top: -50px;
}

@media print {
  form,
  button {
    display: none;
  }
  td {
    padding: 10px;
    width: 200px;
  }
  thead {
    font-size: 16px;
  }
  body {
    -webkit-print-color-adjust: exact;
  }
}
